<!DOCTYPE html>

{% load staticfiles %} <!-- New line -->

<html>

    <head>
        <title>About</title>
    </head>

    <body>
        <h1>Rango says...</h1>

        <div>
            this is a tutorial that has been put together by Luis Sibson
            <strong>{{ boldmessage }}</strong><br />

        </div>

        <div>
            <a href="/rango/">Index</a><br />
            <img src="{% static "images/rangoabout.jpg" %}"
                alt="Another Picture of Rango" /> <!-- New line -->
        </div>

        <div>
            <img src="{{ MEDIA_URL}}cat.jpg"
                alt="Picture of Cat" /> <!-- New line -->
        </div>


    </body>